/*Menu
0 - Geral
1 - Menu
2 - Section Intro
3 - Section Historia
4 - Section info
5 - Section Locais
6 -
7 -
*/

/* 0 - Geral */
:root {
	--preto-primario: #333;
	--preto-secundario: #252525;
	--branco-primario: #fafafa;
	--cinza-primario: #e7e4d8;
	--cinza-footer: #d6d3c8;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.clear:after, .clear:before {
	content: "";
	display: table;
	clear: both;
}

/* 1 - Menu */

.menu {
	background-color: var(--preto-secundario);
}

.menu ul li a {
	font-family: Georgia, serif;
	color: var(--branco-primario);
	text-decoration: none;
}

.menu-nav {
	float: right;
}

.menu-nav li {
	display: inline-block;
}

.menu-nav li a {
	padding: 10px 15px 5px;
	display: block;
}

.menu-nav ul li a:after{
	content: "";
	display: block;
	background-color: var(--branco-primario);
	height: 2px;
	width: 0;
	transition: .3s;
}

.menu-nav ul li a:hover:after {
	width: 100%;
	transition: .3s;
}

/* 2 - Section Intro */

.intro {
	text-align: center;
	color: var(--branco-primario);
	background: url(../assets/img/bg-intro.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 150px 0px;
}

.intro h1 {
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
	font-family: Georgia, serif;
}

.intro h1:after {
	content: "";
	display: block;
	height: 5px;
	width: 20px;
	background-color: var(--branco-primario);
	margin: 10px auto;
}

.intro p {
	font-size: 1.125em;
	font-style: italic;
	font-family: Georgia, serif;
}

/* 3 - Section Historia */

.sobre {
	padding: 60px 0;
}

.sobre h2 {
	font-family: Georgia, serif;
	font-size: 2.25em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 60px;
}
.sobre-item{
	float: left;
	margin: 0 10px;
	width: 460px;
}

.sobre-item img {
	display: block;
	max-width: 460px;
}

.sobre-item h3 {
	background-color: var(--preto-secundario);
	color: var(--branco-primario);
	text-align: center;
	font-style: italic;
	font-weight: normal;
	font-size: 2em;
	position: relative;
	top: -25px;
	padding: 5px 0 10px 0;
	width: 220px;
}

.sobre p {
	text-align: center;
	font-size: 1.125em;
	font-style: italic;
	line-height: 1.4em;
	max-width: 460px;
	margin: 20px auto;
}

/* 4 - Info */

.produtos-item{
	border: 1px solid blue;
	float: left;
	width: 300px;
	margin: 0 9px;
}

.produtos-item h2{
	text-align: center;
	padding: 10px 0;
	font-size: 30px;
}

.produtos-btn{
	display: inline-block;
	margin: 20px auto;
	text-align: center;
}

/* 5 - Locais */


.locais-item {
	padding: 25px 0 0;
}

.locais-img {
	float: left;
}



.locais-info {
	height: 260px;
	width: 300px;
	margin: 0 20px;
}

.locais-info h2 {
	font-size: 40px;
	width: 280px;
	margin: 0;
}

.locais-info p {
	width: 280px;
	padding: 0px 0;
	font-size: 20px;
	margin: 0;
}

.locais-info a {
	border: 3px solid var(--preto-secundario);
	text-decoration: none;
	color: var(--preto-secundario);
	padding: 8px 15px;
	text-transform: uppercase;
	display: inline-block;
	bottom: 10px;
}

.locais-btn {
	margin-bottom: 20px;
}














